:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark-gray: #10100e;
  --color-yellow: #ffff00;
  --color-violet: #ae72c2;

  --font-size-heading: 26px;
  --border-radius: 3px;
  --spacing-medium: 20px;

  --transition: 0.4s;

  --theme-default-title: #cccc46;
  --theme-light-title: #dfe2df;
  --theme-dark-title: #ca6c6f;

  --theme-default-bg: url(@/static/bg.jpg);
  --theme-light-bg: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);
  --theme-dark-bg: linear-gradient(to right bottom, #000000, #160b11, #20141e, #281b2e, #2b2440);
  ;

  --theme-title: var(--theme-default-title);

  --theme-bg: var(--theme-default-bg);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  background-image: var(--theme-bg);
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

h1 {
  line-height: 1.7;
  font-size: var(--font-size-heading);
  color: var(--theme-title);
  text-shadow: 0 0 3px var(--color-black);
  transition: color var(--transition);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
