.header {
  padding: var(--spacing-medium) 0;
}
.header__nav {
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium);

  list-style: none;
  margin: 0;
  padding: 0;
}
.header__item {
}

.header__link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-yellow);
  border-radius: var(--border-radius);
  transition: var(--transition);
  border: 2px solid transparent;

  min-width: 70px;

  padding: 7px 10px;
}

.active {
  border: 2px solid var(--color-violet);
  color: var(--color-violet);
}
