.person {
  border-left: 4px solid var(--color-violet);
  padding-bottom: 20px;
}

.person__title {
  display: inline-block;
  background-color: var(--color-violet);
  margin: 0;
  padding: 8px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  color: var(--color-white);
}

.person__container {
  padding-left: 20px;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.person__img {
  max-width: 250px;

  border-radius: var(--border-radius);
}

.person__info {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  min-width: 250px;
  background-color: rgba(0, 0, 0, 0.4);
}

.person__fields {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.person__field {
  color: var(--color-white);
}

.person__label {
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0 0 2px var(--color-white);

  margin-right: 5px;
}

.person__data {
  font-weight: 600;
}

.person__films {}
