.nav {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
}
.nav__link {
}
.nav__button {
  padding: 7px 10px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-white);

  font-size: 18px;
  font-weight: 700;

  cursor: pointer;
}
